.product-card {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border-radius: 6px;
  height: 450px;
  color: black;
  box-shadow: rgba(50, 50, 93, 0.25) 0px 13px 27px -5px,
    rgba(0, 0, 0, 0.3) 0px 8px 16px -8px;
  border-radius: 10px;
  transition: transform 0.2s ease-in-out;

  &:hover {
    transform: scale(1.05);
  }

  .image-container {
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    overflow: hidden;
  }

  .product-info {
    text-align: center;
    padding: 10px;
  }

  .product-description {
    flex-grow: 1; /* Grow to occupy available space */
    display: flex;
    flex-direction: column;
    justify-content: center;
  }

  .product-price {
    font-weight: bold;
    margin-top: 10px;
    color: #007bff;
  }

  .product-img {
    width: 125%;
    height: 400px;
    object-fit: contain;
  }
}
